[Desktop Entry]
Name=dwm
Comment=Suckless Dynamic Window Manager
Exec=dbus-launch /usr/local/bin/start-dwm
Type=Application
Keywords=windowmanager;tiling
